{% extends 'front_end/index.html' %}
{% block content %}
<div class="container">
    <h1>Add New Address</h1>
    {% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ address_form.as_p }}
        <button type="submit" name="add_address" class="btn btn-success" style="margin-bottom: 10px;">Add Address</button>
        <a href="{% url 'user' %}" class="btn btn-info" style="margin-bottom: 10px;">Cancel</a>
    </form>
</div>
{% endblock content %}