{% extends "front_end/index.html" %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Your Orders</h2>
    {% if page_obj %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover shadow-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date Placed</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in page_obj %}
                    <tr>
                        <td>
                            <span class="text-primary">{{ order.order_id }}</span>
                        </td>
                        <td>{{ order.datetime_of_payment|date:"F d, Y" }}</td>
                        <td>
                            <span class="badge bg-info">{{ order.get_payment_status_display }}</span>
                        </td>
                        <td>
                            <a href="{% url 'user-order' order.id %}" class="btn btn-sm btn-primary">View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Pagination Controls -->
        <div class="pagination order-page">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        
    {% else %}
        <p>No orders found. Start shopping now!</p>
    {% endif %}
</div>
{% endblock %}
