{% extends 'front_end/index.html' %}
{% load static %}
{% load category_tags %}
{% block css %}
	<style>
		.product-name {
			font-size: 14px;
			/* Adjust the font size as needed */
			white-space: nowrap;
			/* Prevent text from wrapping to the next line */
			overflow: hidden;
			/* Hide the overflowed text */
			text-overflow: ellipsis;
			/* Add ellipsis (...) at the end of the truncated text */
			display: block;
			/* Make sure the text block takes up the full width available */
		}
    </style>
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div id="similar-product" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                {% for image in images %}
                                <div class="item {% if forloop.first %}active{% endif %}">
                                    <a href="#"><img src="{{ image.image.url }}" alt="{{ product.name }}"></a>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <h2>{{ product.name }}</h2>
                            <span>
                                {% if average_rating %}
                                <span>{{ average_rating|floatformat:1 }}/5</span>
                                {% endif %}
                                <div>
                                    <span>₹{{ product.price }}</span>
                                </div>
                                {% if not product.quantity|is_out_of_stock %}
                                <label>Quantity:</label>
                                <input type="text" disabled value="{{product.quantity}}" />
                                <a type="button" class="btn btn-fefault cart add-to-cart" href="{% url 'add-to-cart' product.id %}">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </a>
                                {% endif %}
                            </span>
                            <h5>Product Details</h5>
                            {% for attribute_name, values in grouped_attributes.items %}
                            <p><b>{{ attribute_name }}:</b> <button class="btn btn-default">{{ values|join:" | " }}</button> </p>
                            {% endfor %}
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews {{reviews.count}}</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <p><b><a href="{% url 'product-review-and-rating' product.id %}">Write Your Review</a></b></p> 
                                {% for rating_review in ratings %}
                                <ul>
                                    <li><a><i class="fa fa-user"></i>Name : 
                                        {% if rating_review.review.user %} 
                                        {{ rating_review.review.user.first_name }}
                                        {% endif %}</a></li><br>
                                        <li><a><i class="fa fa-clock-o"></i>Message : {{rating_review.review.message}}</a></li><br>
                                        <li><a><i class="fa fa-clock-o"></i>ratings : {{rating_review.rating}}</a></li><br>
                                        <li><a><i class="fa fa-calendar-o"></i>Post : {{rating_review.review.created_at}}</a></li>
                                    </ul>
                                    {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div><!--/category-tab-->

            </div>
        </div>
    </div>
</section>
{% block js %}
	<script>
	
	$(document).ready(function() {
        $('.add-to-cart').click(function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var productId = $(this).data('product-id');
            $.ajax({
                url: url,
                type: 'GET',
                success: function(res) {
                    
                    if (res.success) {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'success',
                            title: res.message,
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                        });
                        
                        // Optionally update the cart count in the UI
                        $('#cart-count').text(res.cart_count);
                    } else {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'error',
                            title: res.message,
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                        });
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'error',
                        title: 'Failed to add product to cart!',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                    });
                }
            });
        });
    });
	</script>
	{% endblock %}
{% endblock %}