{% extends 'front_end/index.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
<h2>Review and Rate {{ product.name }}</h2>

<form method="post">
    {% csrf_token %}
    <div>
        {{ review_form.as_p }}
    </div>
    <div>
        {{ rating_form.as_p }}
    </div>
    <div style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary" >Submit</button>
        <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">Cancel</a>
        <!-- <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Submit</button> -->
    </div>
</form>
</div>
</section>
{% endblock content %}