{% extends 'admin/dashboard.html' %}
{% block title %}Edit Product{% endblock %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Product</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Edit Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Edit Product Details</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {% if messages %}
                                    <div class="alert-container">
                                        {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="product_name">Product Name</label>
                                    <input type="text" class="form-control" id="product_name" name="product_name"
                                        placeholder="Enter product name" value="{{ product.name }}">
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="text" class="form-control" id="price" name="price"
                                        placeholder="Enter price" value="{{ product.price }}">
                                </div>
                                <div class="form-group">
                                    <label>Attribute Values</label>
                                    {% for attribute, av_list in attribute_values_by_name.items %}
                                        <div class="form-group">
                                            <label>{{ attribute }}</label>
                                            {% for av in av_list %}
                                                <div class="d-flex align-items-center">
                                                    <input type="text" class="form-control mt-2 mr-2" name="attribute_{{ attribute }}[]" value="{{ av.value }}">
                                                    <input type="checkbox" name="delete_attribute_values" value="{{ av.id }}">&nbsp;Delete
                                                </div>
                                            {% endfor %}
                                            <button type="button" class="btn btn-sm btn-success mt-2 add-attribute-value" data-attribute="{{ attribute }}">Add {{ attribute }} Value</button>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="product_images">Product Images</label>
                                    <input type="file" class="form-control" id="product_images" name="product_images[]"
                                        multiple>
                                    <div class="row mt-3">
                                        {% for image in product_images %}
                                        <div class="col-md-3">
                                            <img src="{{ image.image.url }}" class="img-thumbnail" alt="Product Image">
                                            <input type="checkbox" name="images_to_delete" value="{{ image.id }}"> Delete
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category_id">Select Category</label>
                                    <select class="form-control" id="category_id" name="category_id">
                                        {% for cat in categories %}
                                            <option value="{{ cat.id }}" {% if cat.id == product.category_id %}selected{% endif %}>{{ cat.full_path }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" id="cancelButton" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.add-attribute-value').forEach(button => {
            button.addEventListener('click', function () {
                const attribute = this.dataset.attribute;
                const inputGroup = document.createElement('div');
                inputGroup.classList.add('d-flex', 'align-items-center');
                inputGroup.innerHTML = `
                    <input type="text" class="form-control mt-2 mr-2" name="attribute_${attribute}[]" placeholder="Enter ${attribute} value">
                    <button type="button" class="btn btn-sm btn-danger mt-2 remove-attribute-value">Remove</button>
                `;
                this.insertAdjacentElement('beforebegin', inputGroup);

                // Add event listener to the remove button
                inputGroup.querySelector('.remove-attribute-value').addEventListener('click', function() {
                    inputGroup.remove();
                });
            });
        });
    });
    $(document).ready(function(){
        $('#cancelButton').on('click', function () {
      window.history.back();
    });
    })
</script>
{% endblock content %}
