{% load static %}
{% load group_filters %}

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'admin/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ request.user.first_name }}</a>
      </div>
    </div>
    
    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
    
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="{% url 'dashboard' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        
        {% if request.user.is_superuser %}
        <!-- Admin Links -->
        <li class="nav-item">
          <a href="{% url 'users' %}" class="nav-link">
            <i class="fas fa-users"></i>
            <p>
              Users
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'banners' %}" class="nav-link">
            <i class="fas fa-ad"></i>
            <p>
              Banner
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'coupons' %}" class="nav-link">
            <i class="fas fa-ticket-alt"></i>
            <p>
              Coupon
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'emails' %}" class="nav-link">
            <i class="fas fa-envelope"></i>
            <p>
              Email Template
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'orders' %}" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Orders
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon  fas fa-tags"></i>
            <p>
              Category
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'categories' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Category</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-sub-category' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Sub Category</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-box"></i>
            <p>
              Products
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'products' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-product-attribute' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Product Attributes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-product-attribute-value' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Product Attributes Values</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">CMS</li>
        <li class="nav-item">
          <a href="{% url 'contact-us' %}" class="nav-link">
            <i class="nav-icon fas fa-envelope"></i>
            <p>Contact US</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'cms' %}" class="nav-link">
            <i class="nav-icon fas fa-file-contract"></i>
            <p>CMS</p>
          </a>
        </li>
        
        
        {% endif %}
        {% if user|has_group:"inventory manager" %}
        <!-- Inventory Manager Links -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon  fas fa-tags"></i>
            <p>
              Category
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'categories' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Category</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-category' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Category</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-sub-category' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Sub Category</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-box"></i>
            <p>
              Products
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'products' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-product' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-product-attribute' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Product Attributes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-product-attribute-value' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Product Attributes Values</p>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
        {% if user|has_group:"order manager" %}
        <!-- Order Manager Links -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Orders
            </p>
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="{% url 'logout-admin' %}" id="logout" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>
              Log Out
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->