{% load static %}
{% load group_filters %}
{% load custom_filters %}
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link {% if request|is_active_common:'/dashboard/' %}active{% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        
        {% if request.user.is_superuser %}
        <!-- Admin Links -->
        <li class="nav-item">
          <a href="{% url 'users' %}" class="nav-link {% if request|is_active_common:'/users/' %}active{% endif %}">
            <i class="fas fa-users"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'banners' %}" class="nav-link {% if request|is_active_common:'/banners/' %}active{% endif %}">
            <i class="fas fa-ad"></i>
            <p>Banner</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'coupons' %}" class="nav-link {% if request|is_active_common:'/coupons/' %}active{% endif %}">
            <i class="fas fa-ticket-alt"></i>
            <p>Coupon</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'emails' %}" class="nav-link {% if request|is_active_common:'/emails/' %}active{% endif %}">
            <i class="fas fa-envelope"></i>
            <p>Email Template</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'orders' %}" class="nav-link {% if request|is_active_common:'/orders/' %}active{% endif %}">
            <i class="nav-icon fas fa-copy"></i>
            <p>Orders</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'categories' %}" class="nav-link {% if request|is_active_common:'/categories/' %}active{% endif %}">
            <i class="nav-icon fas fa-tags"></i>
            <p>Category</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'news-letter' %}" class="nav-link {% if request|is_active_common:'/news/letter/' %}active{% endif %}">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>News Letter</p>
          </a>
        </li>
        <li class="nav-item {% if request|is_active:'/admin-custom/products/' or request|is_active:'/admin-custom/products/attribute/' %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if request|is_active:'/admin-custom/products/' %}active{% endif %}">
              <i class="nav-icon fas fa-box"></i>
              <p>
                  Products
                  <i class="right fas fa-angle-left"></i>
              </p>
          </a>
          <ul class="nav nav-treeview">
              <li class="nav-item">
                  <a href="{% url 'products' %}" class="nav-link {% if request|is_active:'/admin-custom/products/' and not request|is_active:'/admin-custom/products/attribute/' %}active{% endif %}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Product</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'product-attribute' %}" class="nav-link {% if request|is_active:'/admin-custom/products/attribute/' %}active{% endif %}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Product Attributes</p>
                  </a>
              </li>
          </ul>
      </li>
        <li class="nav-header">CMS</li>
        <li class="nav-item">
          <a href="{% url 'contact-us' %}" class="nav-link {% if request|is_active_common:'/contact-us/' %}active{% endif %}">
            <i class="nav-icon fas fa-envelope"></i>
            <p>Contact Us</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'cms' %}" class="nav-link {% if request|is_active_common:'/cms/' %}active{% endif %}">
            <i class="nav-icon fas fa-file-contract"></i>
            <p>CMS</p>
          </a>
        </li>
        {% endif %}
        {% if user|has_group:"inventory manager" %}
        <!-- Inventory Manager Links -->
        <li class="nav-item">
          <a href="{% url 'categories' %}" class="nav-link {% if request|is_active_common:'/categories/' %}active{% endif %}">
            <i class="nav-icon fas fa-tags"></i>
            <p>Category</p>
          </a>
        </li>
        <li class="nav-item {% if request|is_active:'/admin-custom/products/' or request|is_active:'/admin-custom/products/attribute/' %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if request|is_active:'/admin-custom/products/' %}active{% endif %}">
              <i class="nav-icon fas fa-box"></i>
              <p>
                  Products
                  <i class="right fas fa-angle-left"></i>
              </p>
          </a>
          <ul class="nav nav-treeview">
              <li class="nav-item">
                  <a href="{% url 'products' %}" class="nav-link {% if request|is_active:'/admin-custom/products/' and not request|is_active:'/admin-custom/products/attribute/' %}active{% endif %}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Product</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'product-attribute' %}" class="nav-link {% if request|is_active:'/admin-custom/products/attribute/' %}active{% endif %}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Product Attributes</p>
                  </a>
              </li>
          </ul>
        </li>
        {% endif %}
        {% if user|has_group:"order manager" %}
        <!-- Order Manager Links -->
        <li class="nav-item">
          <a href="{% url 'orders' %}" class="nav-link {% if request|is_active_common:'/orders/' %}active{% endif %}">
            <i class="nav-icon fas fa-copy"></i>
            <p>Orders</p>
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="{% url 'logout-admin' %}" id="logout" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Log Out</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
