{% extends 'admin/dashboard.html' %}
{% block title %}Flatpages{% endblock %}
{% load static %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Flatpages</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Flatpages</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Flatpages</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <h6><a href="{% url 'add-flatpage' %}">+ Add New Flatpage</a></h6>
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>URL</th>
                                        <th>Title</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for flatpage in flatpages %}
                                    <tr data-widget="expandable-table" aria-expanded="false">
                                        <td><a href="/pages{{ flatpage.url }}">{{ flatpage.url }}</a></td>
                                        <td>{{ flatpage.title }}</td>
                                        <td><a href="{% url 'edit-flatpage' flatpage.id %}">Edit</a> |
                                            <a href="#">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.card-body -->

                    </div>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% endblock content %}