{% extends 'front_end/index.html' %}
{% load static %}
{% load socialaccount %}
{% block css %}
<style>
	#form {
		margin-top: 30px !important;
		margin-bottom: 30px !important;

	}
</style>
{% endblock %}
{% block content %}
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Login to your account</h2>
					<form method="post">
						{% csrf_token %}
						{{ login_form.as_p }}
						<div style="margin-top: 10px;">
							<a href="{% url 'password_reset' %}">Forgot password?</a><br>
						</div>
						<button type="submit" class="btn btn-default" name="login">Login</button>
					</form>

				</div><!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form"><!--sign up form-->
					<h2>New User Signup!</h2>
					<form method="post">
						{% csrf_token %}
						{{register_form.as_p}}
						<button type="submit" class="btn btn-default" name="register">Signup</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
		<div class="row"
			style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 10px;">
			<span style="border: 2px solid black; margin-bottom: 10px;width: 215px;">
				<a href="{% provider_login_url 'google' %}?next" class="btn btn-google">
					<img src="{% static 'assets/images/social-login-icon/google-icon.png' %}" style="height: 30px;"
						 alt="Google" />
					Continue with Google
				</a>
			</span>					
			<span style="border: 2px solid black;  margin-bottom: 10px;">
				<a href="{% provider_login_url 'google' %}?next" class="btn btn-google">
					<img src="{% static 'assets/images/social-login-icon/facebook-icon.png' %}" style="height: 30px;"
						alt="Facebook" />
					Continue with Facebook
				</a>
			</span>
		</div>
	</div>
</section><!--/form-->
{% endblock content %}