{% extends 'front_end/index.html' %}
{% load static %}
{% block content %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Login/Register</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'registration' %}">Register</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Register Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="login_form_inner">
                        <h3>Register</h3>
                        <form class="row login_form" method="post" id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-12 form-group">
                                {{ form.email.errors }}
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" value="{{ form.email.value|default:'' }}">
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.password1.errors }}
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.password2.errors }}
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                            </div>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Register</button>
                                <a href="{% url 'login' %}">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Register Box Area =================-->
{% endblock content %}
